.colorchange {
    animation: colorchange 30s infinite;
}

@keyframes colorchange {
    0% {
        color: red;
    }
    15% {
        color: orange;
    }
    20% {
        color: yellow;
    }
    45% {
        color: green;
    }
    60% {
        color: turquoise;
    }
    75% {
        color: blue;
    }
    90% {
        color: purple;
    }
    100% {
        color: red;
    }
}

.settings {
    position: fixed;
    right: 25px;
    bottom: 25px;
    font-size: 200%;
    transition: transform 0.2s;
}
.settings:hover {
    transform: scale(1.5);
    animation: rotate 3s linear infinite;
    animation-delay: 0.2s;
}

@keyframes rotate {
    0% {
        transform: scale(1.5) rotate(0deg);
    }
    100% {
        transform: scale(1.5) rotate(360deg);
    }
}